<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.fields_for :pessoa do |e| %>
    <div class="form-group">
      <%= e.label :nome %>
      <%= e.text_field :nome, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.fields_for :aluno do |e| %>
    <div class="form-group">
      <%= e.label :matricula %>
      <%= e.text_field :matricula, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= e.label :periodo %>
      <%= e.text_field :periodo, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    <% if @minimum_password_length %>
      <small class="form-text text-muted">
        <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
      </small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  </div>

  <%= f.submit 'Cadastrar', class: 'btn btn-success' %>
<% end %>