<%= form_with(model: aluno_habilidade, local: true) do |form| %>
  <% if aluno_habilidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno_habilidade.errors.count, "error") %> prohibited this aluno_habilidade from being saved:</h2>

      <ul>
      <% aluno_habilidade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.text_field :aluno_id %>
  </div>

  <div class="field">
    <%= form.label :habilidade_id %>
    <%= form.text_field :habilidade_id %>
  </div>

  <div class="field">
    <%= form.label :nivel %>
    <%= form.number_field :nivel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
