<%= form_with(model: aluno, local: true) do |f| %>
  <% if aluno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% aluno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :matricula %>
    <%= f.text_field :matricula, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :periodo %>
    <%= f.text_field :periodo, class: 'form-control' %>
  </div>

  <%= f.submit 'Salvar', class: 'btn btn-success' %>
<% end %>
