<%= form_with(model: vaga, local: true) do |f| %>
  <% if vaga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaga.errors.count, "error") %> prohibited this vaga from being saved:</h2>

      <ul>
      <% vaga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :descricao %>
    <%= f.text_area :descricao, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="form-group col-6">
      <%= f.label :data_fim %>
      <%= f.text_field :data_fim, class: 'form-control datepicker' %>
    </div>

    <div class="form-group col-6">
      <%= f.label :data_resposta %>
      <%= f.text_field :data_resposta, class: 'form-control datepicker' %>
    </div>
  </div>

  <%= f.submit 'Cadastrar', class: 'btn btn-success' %>
<% end %>
