<div class="card p-3 mb-3">
  <div class="row">
    <div class="col-2">
      <% if @vaga.empresa_avatar.present? %>
        <%= image_tag @vaga.empresa_avatar.medium.url %>
      <% else %>
        <%= image_tag "default_company.png" %>
      <% end %>
    </div>

    <div class="col-10">
      <h1>
        <%= @vaga.titulo %>
        <% if current_account.is_empresa? && @vaga.empresa == current_account.perfil %>
            <%= link_to '✖', @vaga, method: :delete, class: 'btn btn-danger pull-right',
                        data: { confirm: 'Você tem certeza que deseja remover esta vaga?' } %>
        <% end %>
      </h1>
      <div class="row">
        <strong class="col-3">Empresa:</strong>
        <%= link_to empresa_path(@vaga.empresa.id) do %>
          <%= @vaga.empresa.nome %>
        <% end %>
      </div>

      <div class="row">
        <strong class="col-3">Descricao:</strong>
        <%= simple_format(@vaga.descricao, {}, wrapper_tag: "span") %>
      </div>

      <div class="row mt-3">
        <strong class="col-3">Prazo Candidatura:</strong>
        <%= @vaga.data_fim.strftime("%d/%m/%Y") %>
      </div>

      <div class="row">
        <strong class="col-3">Data resposta:</strong>
        <%= @vaga.data_resposta.strftime("%d/%m/%Y") %>
      </div>

      <% if current_account.is_empresa? && current_account.perfil.id == @vaga.empresa.id %>
        <div class="row">
          <strong class="col-3">Situação:</strong>
          <%= texto_situacao_vaga @vaga %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="container mt-5">
   <%= render "tabela_habilidades" %>
  </div>
</div>

<%= render 'vagas/habilidades' %>

<div class="card p-3 mb-3">
    <div class="row">
      <div class="col-12">
      <%= link_to 'Voltar', vagas_path, class: 'btn btn-secondary col-1 pull-left' %>

  <% if current_account.is_empresa? %>
      <%= link_to 'Editar', edit_vaga_path(@vaga), class: 'btn btn-primary col-1 ml-3 pull-right' %>
  <% end %>

      <%= render partial: 'vagas/btn_inscrever_cancelar', locals: { vaga: @vaga } %>
      </div>
    </div>
</div>
