<p id="notice"><%= notice %></p>

<h1><%= @vaga.titulo %></h1>

<p>
  <strong>Empresa:</strong>
  <%= @vaga.empresa.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @vaga.descricao %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @vaga.data_fim %>
</p>

<p>
  <strong>Data resposta:</strong>
  <%= @vaga.data_resposta %>
</p>

<div class="row">
  <%= link_to 'Editar', edit_vaga_path(@vaga), class: 'btn btn-primary col-1' %>
  <%= link_to 'Voltar', vagas_path, class: 'btn btn-secondary col-1 offset-1' %>
</div>