<%= form_with(model: aluno_horario, local: true) do |form| %>
  <% if aluno_horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aluno_horario.errors.count, "error") %> prohibited this aluno_horario from being saved:</h2>

      <ul>
      <% aluno_horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aluno_id %>
    <%= form.text_field :aluno_id %>
  </div>

  <div class="field">
    <%= form.label :dia_semana %>
    <%= form.number_field :dia_semana %>
  </div>

  <div class="field">
    <%= form.label :hora_inicio %>
    <%= form.number_field :hora_inicio %>
  </div>

  <div class="field">
    <%= form.label :hora_fim %>
    <%= form.number_field :hora_fim %>
  </div>

  <div class="field">
    <%= form.label :minuto_inicio %>
    <%= form.number_field :minuto_inicio %>
  </div>

  <div class="field">
    <%= form.label :minuto_fim %>
    <%= form.number_field :minuto_fim %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
