<p id="notice"><%= notice %></p>

<p>
  <strong>Aluno:</strong>
  <%= @aluno_horario.aluno %>
</p>

<p>
  <strong>Dia semana:</strong>
  <%= @aluno_horario.dia_semana %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @aluno_horario.hora_inicio %>
</p>

<p>
  <strong>Hora fim:</strong>
  <%= @aluno_horario.hora_fim %>
</p>

<p>
  <strong>Minuto inicio:</strong>
  <%= @aluno_horario.minuto_inicio %>
</p>

<p>
  <strong>Minuto fim:</strong>
  <%= @aluno_horario.minuto_fim %>
</p>

<%= link_to 'Edit', edit_aluno_horario_path(@aluno_horario) %> |
<%= link_to 'Back', aluno_horarios_path %>
