<%= form_with(model: empresa, local: true) do |f| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :endereco %>
    <%= f.text_field :endereco, class: 'form-control' %>
  </div>

  <div class="form-group">   
    <div class="field">
      <%= f.label :avatar %> <br/>
      <%= f.file_field :avatar %>
    </div>
  </div>

  <%= f.submit 'Salvar', class: 'btn btn-success' %>
<% end %>
