<h1 class="text-center">Empresas</h1>

<h2 class="pointer-cursor" id="empresas-espera-title">
  Em Espera <%= fa_icon 'angle-down', id: 'espera-icon' %>
</h2>
<div id="empresas-espera-div" style="display: none">
  <%= render partial: 'empresas/table_espera',
             locals: { empresas: @empresas.select { |empresa| empresa.validada == nil } } %>
</div>
<hr>

<h2 class="pointer-cursor text-success" id="empresas-aprovadas-title">
  Aprovadas <%= fa_icon 'angle-down', id: 'aprovadas-icon' %>
</h2>
<div id="empresas-aprovadas-div" style="display: none">
  <%= render partial: 'empresas/table_aprovadas',
             locals: { empresas: @empresas.select { |empresa| empresa.validada == true } } %>
</div>
<hr>

<h2 class="pointer-cursor text-danger" id="empresas-reprovadas-title">
  Reprovadas  <%= fa_icon 'angle-down', id: 'reprovadas-icon' %>
</h2>
<div id="empresas-reprovadas-div" style="display: none">
  <%= render partial: 'empresas/table_reprovadas',
             locals: { empresas: @empresas.select { |empresa| empresa.validada == false } } %>
</div>