<h2 id="espera-title">
  Em Espera <%= fa_icon 'angle-down', id: 'espera-icon' %>
</h2>
<div id="espera-div" style="display: none">
  <%= render 'empresas/table_espera' %>
</div>
<hr>

<h2 id="aprovadas-title" class="text-success">
  Aprovadas <%= fa_icon 'angle-down', id: 'aprovadas-icon' %>
</h2>
<div id="aprovadas-div" style="display: none">
  <%= render 'empresas/table_aprovadas' %>
</div>
<hr>

<h2 id="reprovadas-title" class="text-danger">
  Reprovadas  <%= fa_icon 'angle-down', id: 'reprovadas-icon' %>
</h2>
<div id="reprovadas-div" style="display: none">
  <%= render 'empresas/table_reprovadas' %>
</div>