<div class="card p-3 mb-3">
  <div class="row">
    <div class="col-2">
      <% if @empresa.avatar.present? %>
        <%= image_tag @empresa.avatar.medium.url, class: 'mr-4 rounded border border-gray imagem-lista-vagas' %>
      <% else %>
        <%= image_tag "default_company.png", class: 'mr-4 rounded border border-gray imagem-lista-vagas' %>
      <% end %>
    </div>

    <div class="col-10">
      <h1><%= @empresa.nome %></h1>
      <div class="row">
        <strong class="col-2">E-mail:</strong>
        <%= @empresa.account.email %>
      </div>

      <div class="row">
        <strong class="col-2">CNPJ:</strong>
        <%= @empresa.cnpj %>
      </div>

      <div class="row">
        <strong class="col-2">Endereço:</strong>
        <%= @empresa.endereco %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Voltar', url_for(:back), class: 'btn btn-secondary' %>
<% if current_account.is_empresa? && current_account.perfil.id == @empresa.id %>
  <%= link_to 'Editar', edit_empresa_path, class: 'btn btn-outline-info' %>
<% end %>