<p id="notice"><%= notice %></p>

<h1>Aluno Vagas</h1>

<table>
  <thead>
    <tr>
      <th>Vaga</th>
      <th>Aluno</th>
      <th>Validado coordenador</th>
      <th>Validado empresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aluno_vagas.each do |aluno_vaga| %>
      <tr>
        <td><%= aluno_vaga.vaga %></td>
        <td><%= aluno_vaga.aluno %></td>
        <td><%= aluno_vaga.validado_coordenador %></td>
        <td><%= aluno_vaga.validado_empresa %></td>
        <td><%= link_to 'Show', aluno_vaga %></td>
        <td><%= link_to 'Edit', edit_aluno_vaga_path(aluno_vaga) %></td>
        <td><%= link_to 'Destroy', aluno_vaga, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aluno Vaga', new_aluno_vaga_path %>
