<!DOCTYPE html>
<html>
  <head>
    <title>EzEstagio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container mt-5 py-5 px-5 rounded bg-light text-secondary">
      <%= yield %>
    </div>
  </body>
</html>
