<!DOCTYPE html>
<html>
  <head>
    <title>EzEstagio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="content">
      <div class="container py-5 mt-5 px-5 rounded bg-light text-secondary">
        <%= render 'layouts/devise_alerts' %>

        <% if account_signed_in? && current_account.is_empresa? &&
              !current_account.perfil.validada %>
          <div class="alert alert-warning">
            <span>
              Empresa não validada!</br>
              Por isso não é possível gerenciar vagas.
            </span>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
